
.container{
    width: 100%;
    min-height: 100vh;
    background: #2848af url("../img/login_bg.jpg")right top no-repeat;
    background-size: cover;
    font-size: 1rem;
}
.bg-img{
    z-index:1;
    width: 100%;
    height: auto;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    margin-top: 100px;
    width: 70%;
    min-height: 400px;
    border-radius: 15px;
    padding: 40px;
    background-color: white;
}
#myTabContent >div{
    padding-top: 30px;
}
.form-group label{
    line-height: 50px;
}
.btn-block{
    margin-top: 30px;
}
.separa{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.separa{
    line-height: 50px;
}
.line{
    border-bottom: solid 1px #d37466;
    height: 30px;
}
.btn-qq{
    width: 200px;
    margin-top: 20px;
}
#submit1{
    margin-top: 60px;
}
.checkboxd{
    height: 30px;
    float: left;
}
#getTelCode{
    width: 100%;
}
.capture{
    width: 100%;
    height: 70%;
    margin: 0 auto;
}
#video{
    height: 70%;
    width: 80%;

    margin: 0 auto;
}
@media only screen and (max-width: 1600px) and (min-width: 1280px){
    html{
        font-size: 16px;
    }
    .form-group label{
        line-height: 50px;
    }
}
@media only screen and (max-width: 1300px) and (min-width: 1200px){
    html{
        font-size: 14px;
    }
    .form-group label{
        line-height: 40px;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 1000px){
    html{
        font-size: 12px;
    }
    .form-group label{
        line-height: 40px;
    }
}
@media only screen and (max-width: 1000px)and (min-width: 800px){
    html{
        background-color: #2848af;
        font-size: 10px;
    }
    .form-group label{
        line-height: 20px;
    }
    .container{
        background-color: #013b7b;
    }
    .telCode{
        margin-top: 10px;
    }
    .main{
        padding: 20px;
    }
}
@media only screen and (max-width: 800px){
    html{
        background-color: #2848af;
        font-size: 10px;
    }
    .form-group label{
        line-height: 20px;
    }
    .container{
        background-color: #013b7b;
    }
    .telCode{
        margin-top: 5px;
    }
    .main{
        padding: 5px;
    }
}