.container{
    width: 100%;
    height: 900px;
    background:url("../img/login_bg.jpg")right top no-repeat;
    background-size: cover;
    /*color: #fff;*/
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    margin-top: 100px;
    width: 70%;
    min-height: 500px;
    background-color: white;
    border-radius: 15px;
    padding: 40px;
}
#myTabContent >div{
    padding-top: 30px;
}
.form-group label{
    line-height: 50px;
}
.btn-block{
    margin-top: 30px;
}
.separa{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.separa{
    line-height: 50px;
}
.line{
    border-bottom: solid 1px #d37466;
    height: 30px;
}
.btn-qq{
    width: 200px;
    margin-top: 20px;
}
#submit1, #submit2, #submit3{
    margin-top: 60px;
}
.checkboxd{
    /*margin-top: 30px;*/
    height: 30px;
    float: left;
}
#getTelCode{
    width: 100%;
}
.capture{
    width: 480px;
    height: 400px;
    margin: 0 auto;
}