<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
    <div class="col-md-2"  th:fragment="html">
        <ul class="nav nav-pills nav-stacked" id="nav">
            <li id="dashboard-sidebar"><a href="/admin/dashboard">仪表盘<i class="glyphicon glyphicon-dashboard pull-right"></i></a></li>
            <li id="order-sidebar"><a href="/admin/order">订单管理<i class="glyphicon glyphicon-cloud-download pull-right"></i></a></li>
            <li id="feedback-sidebar"><a href="/admin/feedback">反馈管理<i class="glyphicon glyphicon-comment pull-right"></i></a></li>
            <li id="user-sidebar"><a href="/admin/user">用户管理<i class="glyphicon glyphicon-user pull-right"></i></a></li>
            <li id="profit-sidebar"><a href="/admin/profit">收益管理<i class="glyphicon glyphicon-yen pull-right"></i></a></li>
            <li id="log-sidebar"><a href="/admin/log">日志管理<i class="glyphicon glyphicon-list-alt pull-right"></i></a></li>
            <li id="info-sidebar"><a href="/admin/info">个人中心<i class="glyphicon glyphicon-cog pull-right"></i></a></li>
            <li><a href="/logout">退出登录<i class="glyphicon glyphicon-log-out pull-right"></i></a></li>
        </ul>
    </div>
</html>