<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的信息 - 快递代拿系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" href="../../static/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/express.css}" href="../../static/assets/css/express.css"/>
</head>
<body>
    <div class="container-fluid">
        <!-- 头部 -->
        <nav th:replace="/user/module/nav::html"></nav>
        <!-- 主体 -->
        <div class="row">
            <!-- 左侧菜单 -->
            <div th:replace="/user/module/sidebar::html"></div>
            <!-- 主体内容 -->
            <div class="col-md-10">
                <div id="baseInfo">
                    <h4>基础信息</h4>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="role" class="col-sm-2 control-label">用户权限</label>
                            <div class="col-sm-10">
                                <p class="form-control-static" id="role" th:text="${info.role}"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">用户名【登录名】</label>
                            <div class="col-md-10">
                                <p class="form-control-static col-md-8" id="username"
                                   th:style="${info.username == null ? 'color:grary' : ''}"
                                   th:text="${info.username != null ? info.username : '您未申请用户名，申请后可以使用用户名密码登陆'}"></p>
                                <button class="btn btn-default col-dm-2" th:if="${info.username != null}">修改密码</button>
                                <button class="btn btn-danger col-dm-2" th:if="${info.username == null}">立即申请</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tel" class="col-sm-2 control-label">手机号码</label>
                            <div class="col-md-10">
                                <p class="form-control-static col-md-8" id="tel"
                                   th:style="${info.tel == null ? 'color:grary' : ''}"
                                   th:text="${info.tel != null ? info.tel : '您未绑定手机号，设置后可以使用手机号登陆，以及使用找回密码功能'}"></p>
                                <button class="btn btn-default col-dm-2" th:if="${info.tel != null}">更改绑定</button>
                                <button class="btn btn-danger col-dm-2" th:if="${info.tel == null}">立即绑定</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sex" class="col-sm-2 control-label">性别</label>
                            <div class="col-md-10">
                                <p class="form-control-static" id="sex" th:text="${info.sex == 1 ? '男' : '女'}"></p>
                            </div>
                        </div>
                    </form>
                </div><br>
                <div id="schoolInfo">
                    <h4>学校信息</h4>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="school" class="col-sm-2 control-label">学校</label>
                            <div class="col-sm-10">
                                <p class="form-control-static" id="school" th:text="${info.school}">未设置</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="studentIdCard" class="col-sm-2 control-label">学号</label>
                            <div class="col-sm-10">
                                <p class="form-control-static" id="studentIdCard" th:text="${info.studentIdCard}">未设置</p>
                            </div>
                        </div>
                    </form>
                </div><br>
                <div id="idCardInfo">
                    <h4>实名信息</h4>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="realName" class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-10">
                                <p class="form-control-static" id="realName" th:text="${info.realName}">未设置</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="idCard" class="col-sm-2 control-label">身份证号</label>
                            <div class="col-sm-10">
                                <p class="form-control-static" id="idCard" th:text="${info.idCard}">未设置</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>

<script th:src="@{/assets/js/http.js}" src="../../static/assets/js/http.js"></script>
<script th:src="@{/assets/js/express.js}" src="../../static/assets/js/express.js"></script>
<script th:src="@{/assets/js/jquery.min.js}" src="../../static/assets/js/jquery.min.js"></script>
<script th:src="@{/assets/layer/layer.js}" src="../../static/assets/layer/layer.js"></script>
<script th:src="@{/assets/js/bootstrap.min.js}" src="../../static/assets/js/bootstrap.min.js"></script>
<script>
    $(function () {
        $("#info-sidebar").addClass('active');
    })
</script>
</body>
</html>