<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>回收站 - Express</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" href="../../static/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-table.css}" href="../../static/assets/css/bootstrap-table.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/express.css}" href="../../static/assets/css/express.css"/>
</head>
<body>
    <div class="container-fluid">
        <!-- 头部 -->
        <nav th:replace="user/module/nav::html"></nav>
        <!-- 主体 -->
        <div class="row">
            <!-- 左侧菜单 -->
            <div th:replace="user/module/sidebar::html"></div>
            <div class="col-md-10">
                <!-- 筛选条件 -->
                <div class="panel-heading">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="inputStatus">订单状态</label>
                            <select id="inputStatus" class="form-control">
                                <option value=-1>所有状态</option>
                                <option value=1>等待接单</option>
                                <option value=2>派送中</option>
                                <option value=3>订单完成</option>
                                <option value=4>订单异常</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputStartDate" class="ml10">起</label>
                            <input type="date" id="inputStartDate" class="form-control ml10">
                            <label for="inputEndDate" class="ml10">讫</label>
                            <input type="date" id="inputEndDate" class="form-control ml10">
                        </div>
                        <div class="form-group">
                            <label for="inputId">订单号</label>
                            <input type="text" class="form-control" id="inputId">
                        </div>
                        <button type="button" class="btn btn-info ml10" onclick="flushTable()">条件查询</button>
                    </form>
                </div>
                <div class="panel-body">
                    <div id="toolbar" class="btn-group">
                        <button id="btn_rollback" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> 还原订单
                        </button>
                    </div>
                    <table id="tb_recycle"></table>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/assets/js/http.js}" src="../../static/assets/js/http.js"></script>
    <script th:src="@{/assets/js/express.js}" src="../../static/assets/js/express.js"></script>
    <script th:src="@{/assets/js/jquery.min.js}" src="../../static/assets/js/jquery.min.js"></script>
    <script th:src="@{/assets/js/jquery.validate.min.js}" src="../../static/assets/js/jquery.validate.min.js"></script>
    <script th:src="@{/assets/layer/layer.js}" src="../../static/assets/layer/layer.js"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}" src="../../static/assets/js/bootstrap.min.js"></script>
    <script th:src="@{/assets/js/bootstrap-table.min.js}" src="../../static/assets/js/bootstrap-table.min.js"></script>
    <script th:src="@{/assets/js/bootstrap-table-export.min.js}" src="../../static/assets/js/bootstrap-table-export.min.js"></script>
    <script th:src="@{/assets/js/bootstrap-table-zh-CN.min.js}" src="../../static/assets/js/bootstrap-table-zh-CN.min.js"></script>
    <script th:src="@{/assets/js/tableExport.min.js}" src="../../static/assets/js/tableExport.min.js"></script>
    <script>
        $(function () {
            $("#recycle-sidebar").addClass('active');

            //1、初始化Table
            let oTable = new TableInit();
            oTable.Init();

            //2、初始化Button的点击事件
            let oButtonInit = new ButtonInit();
            oButtonInit.Init();
        });

        var TableInit = function () {
            let oTableInit = new Object();
            //初始化Table
            oTableInit.Init = function () {
                $('#tb_recycle').bootstrapTable({
                    url: '/api/v1/order/list',          //请求后台的URL（*）
                    method: HTTP.GET,                   //请求方式（*）
                    toolbar: '#toolbar',                //工具按钮组id
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    sortable: false,                    //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    queryParams: oTableInit.queryParams,//传递参数（*）
                    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                    pageNumber:1,                       //初始化加载第一页，默认第一页
                    pageSize: 10,                       //每页的记录行数（*）
                    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                    search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端。后台分页时意义不大
                    showColumns: true,                  //是否显示所有的列
                    showRefresh: true,                  //是否显示刷新按钮
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
                    // height: 750,                     //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                    uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                    showToggle:false,                   //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                  //是否显示父子表
                    showExport: true,                   //是否显示导出
                    exportDataType: "basic",            //导出的模式是当前页basic、所有数据all、选中数据selected。
                    columns: [{
                        checkbox: true
                    }, {
                        field: 'id',
                        title: '订单号'
                    }, {
                        field: 'deleteType',
                        title: '回收原因',
                        formatter: deleteTypeFormatter
                    }, {
                        field: 'odd',
                        title: '快递单号'
                    }, {
                        field: 'company',
                        title: '快递公司'
                    }, {
                        field: 'payment',
                        title: '支付金额'
                    }, {
                        field: 'paymentStatus',
                        title: '支付状态',
                        formatter: paymentFormatter
                    }, {
                        field: 'orderStatus',
                        title: '订单状态',
                        formatter: orderFormatter
                    }, {
                        field: 'createDate',
                        title: '下单时间'
                    }]
                });
            };

            // 传递给后台的参数
            oTableInit.queryParams = function (params) {
                return {   //这里的键的名字和后台参数必须一致
                    size: params.limit,                             //页面大小
                    current: (params.offset / params.limit) + 1,   //页码
                    type: 1,
                    // 筛选参数
                    id: $("#inputId").val(),
                    status: $("#inputStatus").val(),
                    startDate: $("#inputStartDate").val(),
                    endDate:$("#inputEndDate").val(),
                };
            };
            return oTableInit;
        };

        var ButtonInit = function () {
            var oInit = new Object();

            oInit.Init = function () {
                // 还原订单
                $("#btn_rollback").click(function () {
                    let row = $('#tb_recycle').bootstrapTable("getSelections");
                    if(row.length > 0) {
                        let ids = new Array();
                        for (let i = 0; i < row.length; i++) {
                            ids.push(row[i].id);
                        }
                        if (ids.length === 0) {
                            layer.msg("您未选中任何订单",{icon:0});
                            return false;
                        } else {
                            layer.confirm("是否恢复被选中订单？", {
                                btn: ['确定','取消']
                            }, function(){
                                sendArray(HTTP.POST, "/api/v1/order/batch-rollback", {"ids": ids}, false, function (res) {
                                    if(res.code === 0) {
                                        layer.msg("成功，撤销" + res.data.success + "个，失败" + res.data.error + "个",{icon:1});
                                        flushTable();
                                    }
                                }, function () {
                                    layer.msg("未知错误",{icon:2});
                                });
                            }, function(){
                            });
                        }
                    }
                });
            };
            return oInit;
        };
        // 订单状态格式化
        function orderFormatter(value, row, index) {
            if(value === 4)
                return '<span style="color:red">订单异常</span>';
            else if (value === 3)
                return '<span style="color:olivedrab">订单完成</span>';
            else if (value === 2)
                return '<span style="color:#42afff">派送中</span>';
            else if (value === 1)
                return '<span style="color:grey">等待接单</span>';
        }
        // 支付状态格式化
        function paymentFormatter(value, row, index) {
            if(value === 1)
                return '<span style="color:#f5a623">等待付款</span>';
            else if (value === 2)
                return '<span style="color:red">交易关闭</span>';
            else if (value === 3)
                return '<span style="color:green">交易成功</span>';
            else if (value === 4)
                return '<span style="color:grey">交易结束</span>';
        }
        // 回收原因格式化
        function deleteTypeFormatter(value, row, index) {
            if(value === 1)
                return '<span style="color:#f5a623">订单撤销</span>';
            else if (value === 2)
                return '<span style="color:red">手动删除</span>';
        }

        function flushTable() {
            $("#tb_recycle").bootstrapTable('refresh',{url : '/api/v1/order/list'} );
        }

        function showDetail(id) {
            sendJson(HTTP.GET, "/api/v1/order/" + id, null, false, function (res) {
                if (res.code !== 0) {
                    layer.msg(res.msg,{icon:2});
                } else {
                    // 初始化模态框信息
                    let data = res.data;
                    $("#inputInfoId").text(data.orderId);
                    $("#inputInfoName").text(data.recName);
                    $("#inputInfoTel").text(data.recTel);
                    $("#inputInfoAddress").text(data.recAddress);
                    $("#inputInfoOdd").text(data.odd);
                    $("#inputInfoCompany").text(data.companyName);
                    $("#inputInfoRemark").text(data.remark);

                    $("#inputInfoPaymentType").text(data.paymentType);
                    $("#inputInfoPaymentId").text(data.paymentId);
                    $("#inputInfoMoney").text(data.payment);
                    $("#inputInfoPaymentStatus").text(data.paymentStatus);

                    $("#inputInfoOrderStatus").text(data.orderStatus);
                    $("#inputInfoCourierName").text(data.courierFrontName);
                    $("#inputInfoCourierRemark").text(data.courierRemark);

                    $("#infoModel").modal("show");
                }
            }, function () {
                layer.msg("未知错误",{icon:2});
            });
        }
    </script>
</body>
</html>