<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录 - Express</title>
    <link th:href="@{/assets/css/bootstrap.min.css}" href="../static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/assets/css/login.css}" href="../static/assets/css/login.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6  col-lg-6" >
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12 left">
            <div class="main">
                <div class="mt10 pull-right">
                    <a href="/register"><i class="glyphicon glyphicon-forward"></i>立即注册</a>
                </div>
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#namePW" data-toggle="tab">用户名登陆</a></li>
                    <li><a href="#phone" data-toggle="tab">短信验证登录</a></li>
                    <li class="dropdown"> <a href="#face" data-toggle="tab">人脸登录</a> </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="namePW">
                        <form role="form" action="/auth/form-login" method="post">
                            <div class="form-group">
                                <label for="name">用户名</label>
                                <input type="text" class="form-control" id="name" name="username" placeholder="请输入用户名">
                            </div>
                            <div class="form-group">
                                <label for="passwd">密码</label>
                                <input type="password" class="form-control" id="passwd" name="password" placeholder="请输入密码">
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="verifyCode">验证码</label>
                                </div>
                                <div class="row" >
                                    <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12" >
                                        <input type="text" class="form-control" name="verifyCode" id="verifyCode" placeholder="请输入验证码">
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12 ">
                                        <img src="/auth/code/getVerifyCode" title="看不清，请点我" onclick="refresh(this)" onmouseover="mouseover(this)" >
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkboxd">
                                    <input type="checkbox" name="remember-me"> 自动登录</div>
                            </div>
                            <button type="submit" class="btn btn-success btn-lg btn-block" id="submit1">登录</button>
                        </form>
                        <div class="separa">
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-lg-5 col-xs-5 line"></div>
                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2"><span>or</span></div>
                                <div class="col-md-5 col-sm-5 col-lg-5 col-xs-5 line"></div>
                            </div>
                            <button class="btn btn-default btn-lg btn-qq" onclick="window.location.href='/auth/third-login/qq'">Sign in with QQ</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="phone">
                        <form role="form" action="/auth/mobile-login" method="post">
                            <div class="form-group">
                                <label for="telphone">手机号</label>
                                <input type="text" class="form-control" id="telphone" name="mobile" placeholder="请输入手机号">
                            </div>
                            <div class="form-group">
                                <label for="telCode">验证码</label>
                                <div class="row" >
                                    <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12 " >
                                        <input type="text" class="form-control" id="telCode" name="smsCode" placeholder="请输入验证码">
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12 telCode">
                                        <button type="button" class="btn btn-info" id="getTelCode"  >获取验证码</button>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success btn-lg btn-block" id="submit2">登录</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="face">
                        <div class="capture">
                            <video id="video" autoplay></video>
                            <canvas id="canvas" width="480" height="320" style="display: none;"></canvas>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<input type="hidden" id="messageInfo" th:value="${message}">

<script th:src="@{/assets/js/http.js}" src="../static/assets/js/http.js"></script>
<script th:src="@{/assets/js/express.js}" src="../static/assets/js/express.js"></script>
<script th:src="@{/assets/js/jquery.min.js}" src="../static/assets/js/jquery.min.js"></script>
<script th:src="@{/assets/layer/layer.js}" src="../static/assets/layer/layer.js"></script>
<script th:src="@{/assets/js/bootstrap.min.js}" src="../static/assets/js/bootstrap.min.js"></script>
<script>
    $(function () {
        let text = $("#messageInfo").val();
        if(text != null && text !== '') {
            layer.msg(text, {icon: 2});
            $("#messageInfo").val('123');
            console.log($("#messageInfo").val())
        }
    });
    let send = document.getElementById("getTelCode");
    let times=60;
    let timer=null;
    let videoTimer = null;
    function refresh(obj) { obj.src = "/auth/code/getVerifyCode?" + Math.random(); }

    function mouseover(obj) { obj.style.cursor = "pointer"; }

    //发送验证码时添加cookie
    function addCookie(name,value,expiresHours){
        var cookieString=name+"="+escape(value);
        //判断是否设置过期时间,0代表关闭浏览器时失效
        if(expiresHours>0){
            var date=new Date();
            date.setTime(date.getTime()+expiresHours*1000);
            cookieString=cookieString+";expires=" + date.toUTCString();
        }
        document.cookie=cookieString;
    }
    //修改cookie的值
    function editCookie(name,value,expiresHours){
        var cookieString=name+"="+escape(value);
        if(expiresHours>0){
            var date=new Date();
            date.setTime(date.getTime()+expiresHours*1000); //单位是毫秒
            cookieString=cookieString+";expires=" + date.toGMTString();
        }
        document.cookie=cookieString;
    }
    //根据名字获取cookie的值
    function getCookieValue(name){
        var strCookie=document.cookie;
        var arrCookie=strCookie.split("; ");
        for(var i=0;i<arrCookie.length;i++){
            var arr=arrCookie[i].split("=");
            if(arr[0]==name){
                return unescape(arr[1]);
                break;
            }else{
                return "";
                break;
            }
        }

    }
    function sendMsg() {
        let tel = $("#telphone").val();
        if(!isPoneAvailable(tel)) {
            layer.msg("手机号码不合法", {icon: 7});
            return false;
        }

        sendJson(HTTP.GET, '/auth/code/sms?mobile=' + tel, null, false, function (res) {
                if (res.code === 0) {
                    layer.msg("短信发送成功", {icon: 1});

                    // 定时器
                    timer=setInterval(function(){
                        times--;
                        if(times<=0){
                            send.value='发送验证码';
                            clearInterval(timer);
                            times=60;
                            send.disabled=false;    //是否可点击
                        }else{
                            send.innerText =times+'秒后重试';
                            send.disabled=true;
                        }
                    },1000);
                } else {
                    layer.msg(res.msg, {icon: 2});
                }
            },
            function () {
                layer.msg("未知错误", {icon: 2});
            });
    }
    $(function(){
        $("#getTelCode").click(function (){
            sendCode($("#getTelCode"));
        });
        v = getCookieValue("loginCookie");//获取cookie值
        if(v>0){
            settime($("#getTelCode"));//开始倒计时
        }
    });
    //发送验证码
    function sendCode(obj){
        let phonenum = $("#telphone").val();
        console.log(phonenum);
        if(!isPoneAvailable(phonenum)) {
            layer.msg("手机号码不合法", {icon: 7});
            return false;
        }
        sendJson(HTTP.GET, '/auth/code/sms?mobile=' + phonenum, null, false, function (res) {
                if (res.code === 0) {
                    layer.msg("短信发送成功", {icon: 1});
                    addCookie("loginCookie",60,60);//添加cookie记录,有效时间60s
                    settime(obj);//开始倒计
                } else {
                    layer.msg(res.msg, {icon: 2});
                }
            },
            function () {
                layer.msg("未知错误", {icon: 2});
            });
    }
    //开始倒计时
    let countdown;
    function settime(obj) {
        countdown=getCookieValue("loginCookie");
        if (countdown == 0) {
            obj.removeAttr("disabled");
            document.getElementById("getTelCode").innerText = '重新获取验证码';
            return;
        } else {
            obj.attr("disabled", true);
            document.getElementById("getTelCode").innerText = countdown + 's之后重新发送';
            // obj.val("重新发送(" + countdown + ")");
            countdown--;
            editCookie("loginCookie",countdown,countdown+1);
        }
        setTimeout(function() { settime(obj) },1000) //每1000毫秒执行一次
    }
    // 切换tab页
    $(function(){
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            // 获取已激活的标签页的名称
            let activeTab = $(e.target).text();
            // 获取前一个激活的标签页的名称
            if (activeTab == "人脸登录") {
                startCamera();
            } else {
                if(streams) {
                    streams.stop();
                    videoTimer = null;
                }
            }
            let previousTab = $(e.relatedTarget).text();
            $(".active-tab span").html(activeTab);
            $(".previous-tab span").html(previousTab);
        });
    });
    // 获取摄像头使用权限
    let file ,streams;
    //访问用户媒体设备的兼容方法
    function getUserMedia(constraints, success, error) {
        if (navigator.mediaDevices.getUserMedia) {
            //最新的标准API
            navigator.mediaDevices.getUserMedia(constraints).then(success).catch(error);
        } else if (navigator.webkitGetUserMedia) {
            //webkit核心浏览器
            navigator.webkitGetUserMedia(constraints,success, error)
        } else if (navigator.mozGetUserMedia) {
            //firfox浏览器
            navigator.mozGetUserMedia(constraints, success, error);
        } else if (navigator.getUserMedia) {
            //旧版API
            navigator.getUserMedia(constraints, success, error);
        }
    }
    let video = document.getElementById('video');
    let canvas = document.getElementById('canvas');
    let context = canvas.getContext('2d');

    function success(stream) {
        //兼容webkit核心浏览器
        let CompatibleURL = window.URL || window.webkitURL;
        //将视频流设置为video元素的源
        streams = stream.getTracks()[0];
        //video.src = CompatibleURL.createObjectURL(stream);
        video.srcObject = stream;
        video.play();
        sendImg();
    }

    function error(error) {
        console.log(`访问用户媒体设备失败${error.name}, ${error.message}`);
    }

    function startCamera(){
        if (navigator.mediaDevices.getUserMedia || navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia) {
            //调用用户媒体设备, 访问摄像头
            getUserMedia({video : {width: 480, height: 320}}, success, error);
        } else {
            alert('不支持访问用户媒体');
        }
    }
    function sendImg(){
        let timer, isSend = true;
        timer = setTimeout(function () {
            if(true) {
                isSend = false;

                context.drawImage(video, 0, 0, 480, 320);
                let image = canvas.toDataURL('image/png');
                sendJson(HTTP.POST, '/api/v1/public/face-detect', {'data': image}, false, function (res) {
                        if (res.code === 0) {
                            layer.msg("人脸检测成功", {icon: 1});
                            timer = null;
                            streams.stop();//结束关闭流
                        } else {
                            isSend = true;
                            layer.msg(res.msg, {icon: 2});
                        }
                    },
                    function () {
                        layer.msg("未知错误", {icon: 2});
                    });
            }

        },1000);

    }
</script>
</body>
</html>
