<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
    <div class="col-md-2"  th:fragment="html">
        <ul class="nav nav-pills nav-stacked" id="nav">
            <li id="dashboard-sidebar"><a href="/user/dashboard">仪表盘<i class="glyphicon glyphicon-dashboard pull-right"></i></a></li>
            <li id="order-sidebar"><a href="/user/order">立即下单<i class="glyphicon glyphicon-cloud-download pull-right"></i></a></li>
            <li id="history-sidebar"><a href="/user/history">我的订单<i class="glyphicon glyphicon-list-alt pull-right"></i></a></li>
            <li id="recycle-sidebar"><a href="/user/recycle">回收站<i class="glyphicon glyphicon-trash pull-right"></i></a></li>
            <li id="feedback-sidebar"><a href="/user/feedback">反馈建议<i class="glyphicon glyphicon-comment pull-right"></i></a></li>
            <li id="info-sidebar"><a href="/user/info">个人中心<i class="glyphicon glyphicon-cog pull-right"></i></a></li>
<!--            <li id="address-sidebar"><a href="/user/address">收货地址<i class="glyphicon glyphicon-home pull-right"></i></a></li>-->
<!--            <li id="log-sidebar"><a href="/user/log">操作日志<i class="glyphicon glyphicon-list-alt pull-right"></i></a></li>-->
            <li><a href="/logout">退出登录<i class="glyphicon glyphicon-log-out pull-right"></i></a></li>
        </ul>
    </div>
</html>