<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
    <div class="col-md-2"  th:fragment="html">
        <ul class="nav nav-pills nav-stacked" id="nav">
            <li class="active"><a href="/user/dashboard">仪表盘<span class="glyphicon glyphicon-dashboard"/></a></li>
            <li><a href="/user/order">立即下单<span class="glyphicon glyphicon-cloud-download"/></a></li>
            <li><a href="/user/history">我的订单<span class="glyphicon glyphicon-th-list"/></a></li>
            <li><a href="/user/info">我的信息<sapn class="glyphicon glyphicon-user" /></a></li>
            <li><a href="/user/setting">系统设置<sapn class="glyphicon glyphicon-cog" /></a></li>
        </ul>
    </div>
</html>