<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
    <div class="col-md-2"  th:fragment="html">
        <ul class="nav nav-pills nav-stacked" id="nav">
            <li class="active"><a href="/user/dashboard">仪表盘<i class="glyphicon glyphicon-dashboard pull-right"></i></a></li>
            <li><a href="/user/order">立即下单<i class="glyphicon glyphicon-cloud-download pull-right"></i></a></li>
            <li><a href="/user/history">我的订单<i class="glyphicon glyphicon-list-alt pull-right"></i></a></li>
            <li><a href="/user/recycle">回收站<i class="glyphicon glyphicon-trash pull-right"></i></a></li>
            <li><a href="/user/feedback">反馈建议<i class="glyphicon glyphicon-pencil pull-right"></i></a></li>
            <li><a href="/user/info">我的信息<i class="glyphicon glyphicon-user pull-right"></i></a></li>
            <li><a href="/user/address">收货地址<i class="glyphicon glyphicon-home pull-right"></i></a></li>
            <li><a href="/user/log">操作日志<i class="glyphicon glyphicon-wrench pull-right"></i></a></li>
            <li><a href="/logout">退出登录<i class="glyphicon glyphicon-log-out pull-right"></i></a></li>
        </ul>
    </div>
</html>