<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.express.mapper.OrderInfoMapper">
    <update id="manualDelete">
        UPDATE `order_info` set has_delete=#{hasDelete}, delete_type=#{deleteType} WHERE id = #{id}
    </update>

    <select id="pageUserOrderVO" resultType="com.example.express.domain.vo.user.UserOrderVO">
        SELECT
            info.id,
            info.odd,
            info.company AS company,
            info.status AS order_status,
            payment.payment AS payment,
            payment.status AS payment_status,
            info.delete_type AS delete_type,
            info.create_date AS create_date
        FROM
            order_payment AS payment, order_info AS info
        WHERE
            info.id = payment.order_id AND info.has_delete = #{has_delete} ${sql}
    </select>
    <select id="pageCourierOrderVO" resultType="com.example.express.domain.vo.courier.CourierOrderVO">
        SELECT
            info.id,
            info.odd,
            info.company as company,
            info.rec_name AS rec_name,
            info.rec_tel AS rec_tel,
            info.address AS address,
            info.rec_address AS rec_address,
            info.remark AS remark,
            info.status AS order_status,
            info.create_date AS create_date
        FROM
            order_payment AS payment, order_info AS info
        WHERE
            info.id = payment.order_id ${sql}
    </select>
    <select id="selectByIdIgnoreDelete" resultType="com.example.express.domain.bean.OrderInfo">
        SELECT * FROM `order_info` WHERE id = #{id}
    </select>
    <select id="pageAdminOrderVO" resultType="com.example.express.domain.vo.admin.AdminOrderVO">
        SELECT
            info.id,
            info.odd,
            info.company AS company,
            info.rec_name AS rec_name,
            info.rec_tel AS rec_tel,
            info.address AS address,
            info.rec_address AS rec_address,
            info.remark AS remark,
            info.status AS order_status,
            payment.status AS payment_status,
            info.delete_type AS delete_type,
            info.create_date
        FROM
            order_payment AS payment, order_info AS info
        WHERE
            info.id = payment.order_id AND info.has_delete = #{has_delete} ${sql}
    </select>
</mapper>